/StandardExceptions/Debug
/BasicExceptions/Debug
/Lists/Debug/Lists.tlog
/TwoDimensionalVectors.cpp/Debug/TwoDimen.B988ACDA.tlog
/VectorsAndMemory/Debug/VectorsAndMemory.tlog
/Vectors.cpp/Debug/Vectors.tlog
/BinaryFiles/Debug/BinaryFiles.tlog
/ParsingTextInFiles/Debug/ParsingT.FF6ECEF3.tlog
/ReadingTextFiles/Debug/ReadingTextFiles.tlog
/WritingTextFiles/Debug/WritingTextFiles.tlog
/CatchingSubclassExceptions/Debug/Catching.7E23CBFC.tlog
/CustomExceptions/Debug/CustomExceptions.tlog
/StandardExceptions/Debug/Standard.28556483.tlog
/BasicExceptions/Debug/BasicExceptions.tlog
/Lists/Debug
/TwoDimensionalVectors.cpp/Debug
/VectorsAndMemory/Debug
/Debug
/Vectors.cpp/Debug
/BinaryFiles/Debug
/ParsingTextInFiles/Debug
/ReadingTextFiles/Debug
/WritingTextFiles/Debug
/CatchingSubclassExceptions/Debug
/CustomExceptions/Debug
